
body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: 
        linear-gradient(rgba(2, 5, 161, 0.91), rgba(2, 5, 161, 0.91)), /* Ajuste a opacidade aqui */
        url('../img_landpage/hero-bg.jpg'); 
    background-size: cover;
    background-position: center;
}



.fundocolor {
    background-color: #06184D; 
}

.imagem-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.imagem-animada {
    width: 350px;
    height: auto;
    animation: mover 2s infinite alternate ease-in-out;
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}
