.form-body {
    background-color: #e0e8ff;
}

.formulario {
    background-color:white;
    
}

.estrutura {
    margin: 50px;
}

.lateral {
    background-color:#243B8C;
    margin:0;
    padding: 0;
}